@import "abstracts/index";
@import "components/index";
@import "layout/index";
@import "pages/index";

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
