/*   COLOR VARIABLES */

$clr-primary: rgb(161, 157, 157);
$clr-black: #000;
$clr-white: #fff;
$clr-btn: #0cf;
$clr-bcg-moving-headline: #050321;


/* FONTS */
$font-primary: 'Poppins', sans-serif;
$font-btns: $font-primary;